html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
#background {
    margin: 0;
    padding: 0;
    background-image: url('images/body.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    filter:alpha(opacity=90);
}

button {
    background-color: brown !important;
    border-color: brown !important;
}

.jumb {
    background-color: rgb(205, 165, 123);
    font-family: fantasy;
    font-weight: bolder;
    font-size: 120%;
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.table.table-bordered>tbody>tr>td {
    border: 1px solid brown !important;
}

.col {
    margin-left: 25% !important;
    margin-right: 30% !important;
    font-weight: bolder !important;
    font-family: fantasy;
    font-size: 120%;
    text-align: center !important;
}

.col1 {
    background-color: rgb(147, 67, 55) !important;
}

.col2 {
    background-color: rgb(124, 77, 30) !important;
}

.col3 {
    background-color: rgb(124, 96, 93) !important;
}

h2 {
    text-align: center !important;
    font-family: fantasy;
    font-weight: bolder !important;
    color: white;
}

.jumbotron {
    padding: 2%;
}

label {
    font-family: fantasy !important;
    color: white;
}

a {
    color: white !important;
}

.form-control {
    text-align: center !important;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 300% !important;
    }
    h2 {
        font-size: 200% !important;
    }
    .col {
        margin: 5% !important;
    }
    .jumbotron {
        padding: 2%;
    }
    .inp1 {
        text-align: center;
        margin-left: 20%;
        margin-bottom: 10% !important;
    }
    label {
        margin-left: 8%;
        text-align: center !important;
    }
    select.option {
        text-align: center !important;
        margin-bottom: 5%;
    }
    .inp {
    	width: 100% !important;
    }
}

@media screen and (min-width: 500px) {
    .inp1 {
        margin-left: 26% !important;
        text-align: center;
        float: left !important;
    }
    .form-group {
        float: right !important;
        margin-right: 30% !important;
    }
    .inp {
        align-self: center;
        min-width: 20%;
        max-width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}