<div class="container">
    <div ng-repeat="data in mainCtrl.entireData | orderBy : sort">
        <div  ng-if="$index == 0"><h2> <u>BOOKS</u> </h2>
            <div class="form-group">
                <label> Sort By Order</label>
                <select ng-model="sort" onchange="sortBooks()">
                    <option value='' ng-selected="true"> Select </option>
                    <option value='data.name' > ascending</option>
                    <option value='-data.name' > descending</option>
                </select>
            </div>
        </div>

        <div  ng-if="$index == 10"><h2> <u>HOUSES</u> </h2>
            <div class="form-group">
                <label> Sort By Order</label>
                <select ng-model="sort" onchange="sortHouses()">
                    <option value='' ng-selected="true"> Select </option>
                    <option value='data.name' > ascending</option>
                    <option value='-data.name' > descending</option>
                </select>
            </div>
        </div>

        <div  ng-if="$index == 20"><h2> <u>CHARACTERS</u> </h2>
            <div class="form-group">
                <label> Sort By Order</label>
                <select ng-model="sort" onchange="sortChars()">
                    <option value='' ng-selected="true"> Select </option>
                    <option value='data.name' > ascending</option>
                    <option value='-data.name' > descending</option>
                </select>
            </div>
        </div>
        <custom-row></custom-row>
    </div>
</div>