<div class="container" id="tableContainer">
    <div style="text-align: center;">
        <!-- for general search of all the categories -->
        <form>
            <input class="inp" style="text-align: center;" type="text" placeholder="Search Books/Houses/Characters" ng-model='sort'></input>
        </form>
        <br/>
    </div>
    <div ng-repeat="data in mainCtrl.entireData | filter : sort">
        <!-- to display heading as the category name according to index -->
        <div ng-if="$index == 0">
            <h2> <u>BOOKS</u> </h2>
            <br/>
            <!-- sorting individual categories --> 
            <div class="form-group">
                <label> Sort By Order</label>
                <!-- function call when the value in the drop-down changes -->
                <select id="sortBooks" onchange="sortFun(event)">
                    <option value='' ng-selected="true"> Select </option>
                    <option value='ascending'> ascending</option>
                    <option value='descending'> descending</option>
                </select>
            </div>
        </div>
        <div ng-if="$index == 10">
            <h2> <u>HOUSES</u> </h2>
            <br/>
            <div class="form-group">
                <label> Sort By Order</label>
                <select id="sortHouses" onchange="sortFun(event)"> 
                    <option value='' ng-selected="true"> Select </option>
                    <option value='ascending'> ascending</option>
                    <option value='descending'> descending</option>
                </select>
            </div>
        </div>
        <div ng-if="$index == 20">
            <h2> <u>CHARACTERS</u> </h2>
            <br/>
            <div class="form-group">
                <label> Sort By Order</label>
                <select id="sortChars" onchange="sortFun(event)">
                    <option value='' ng-selected="true"> Select </option>
                    <option value='ascending'> ascending</option>
                    <option value='descending'> descending</option>
                </select>
            </div>
        </div>
        <!-- displaying data through customRowPage template using customRowDirective -->
        <custom-row></custom-row>
    </div>
</div>